@import "tailwindcss";

@theme {
  --color-zinc-850: #1f1f23;
  --color-violet-650: #7531e3;
}

@layer base {
  body {
    @apply bg-[#0A0A0B] text-zinc-100 antialiased;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23a1a1aa' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem;
    padding-right: 2.5rem !important;
  }
}
